.btn,%btn
  position: relative
  display: inline-block
  padding: (.5rem - $px) (1rem - $px)
  line-height: 2rem
  text-align: center
  text-decoration: none
  cursor: pointer
  border: $px solid
  border-radius: 3*$px
  outline: none
.btn--compact
  padding: 0 .25rem
.btn--fill
  width: 100%
.btn--cta
  color: white
  background-color: $accent
  border-color: $accent
