// .lang-switcher
  // @extend %c-text-s
  // font-size: 1rem
  // line-height: 2rem
  // padding-top: (2rem - (1rem/0.75))/2

  // font-size: 1.2rem
  // line-height: 24px
  // padding-top: 16*(24 - 16*0.75)/2

  // font-size: 1.2rem
  // line-height: 2rem
  // // padding-top: 1.2 * (2 - 1.2 * 0.75 ) / 2 * 1rem
  // padding-top: (2 - 1.2 * 0.75) / 2 * 1rem


  // how to do the same with rem?
  // 16/$root
  // 24/$root
  // 16*(24 - 16*0.75)/(2*$root)
  // $root*(16/$root)($root*(24/$root) - $root*(16/$root)*0.75 )/(2*$root)
  // 16*$root((24/$root) - (16*$root)*0.75)/2
  // ($root^2)*(16/$root)
  // font-size depends on rootsize

  // @include baseline(1rem, 2rem, 1rem)
.lang-switcher-a
  color: inherit
  text-decoration: none
  &[data-state=active]
    font-weight: bold
