.sidebar
  @extend %accelerate
  @extend %c-caption
  position: absolute
  top: 0
  bottom: 0
  left: 0
  z-index: 200
  width: $sidebar-width
  overflow: hidden
  color: $secondary-text
  background-color: $sidebar-background
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2)
.sidebar-body
  position: absolute
  top: $sidebar-header-height
  right: 0
  bottom: $sidebar-footer-height
  left: 0
  display: block
  padding: 0 1rem
  overflow: auto
  -webkit-overflow-scrolling: touch
  .btn
    color: $secondary-text
    &:hover
      color: $primary-text
.sidebar-footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  z-index: 300
  display: block
  height: $sidebar-footer-height
  background-color: darken(#eaeaea, 5%)
.sidebar-nav
  margin-bottom: 1rem
  list-style-type: none
  >li
    margin: 0
.sidebar-nav-title
  @extend %c-upper
  padding: 0 1rem
.sidebar-nav-item
  display: block
.sidebar-nav-item--action
  @extend %c-caption
  color: $primary-text
