.sidebar
  @extend %accelerate
  @extend %c-caption
  position: absolute
  top: 0
  bottom: 0
  left: 0
  z-index: 200
  width: $sidebar-width
  overflow: hidden
  color: $secondary-text
  background-color: $sidebar-background
  border-right: $px solid $viewport-background
  a
    text-decoration: none
.sidebar-body
  position: absolute
  top: $sidebar-header-height
  right: 0
  // bottom: $sidebar-footer-height
  bottom: 0
  left: 0
  display: block
  padding: 0 1rem
  overflow: auto
  -webkit-overflow-scrolling: touch
  .btn
    color: $secondary-text
    &:hover
      color: $primary-text
.sidebar-footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  z-index: 300
  display: block
  height: $sidebar-footer-height
.sidebar-nav
  margin-bottom: 1rem
  list-style-type: none
  >li
    margin: 0
.sidebar-nav-title
  @extend %c-upper
  padding: 0 1rem
.sidebar-nav-item
  display: block
.sidebar-nav-item--action
  @extend %c-caption
  color: $primary-text

.sidebar-extension
  @extend %abs
  right: auto
  left: $sidebar-width
  z-index: 102
  width: $sidebar-width
  background-color: $sidebar-background
  transform: translateX(-$sidebar-width + .25rem)
  box-shadow: 2px 0 2px rgba(0,0,0,.1)
  .center-this
    overflow: hidden
.sidebar-extension-open .sidebar-extension
  transform: translateX(0)
  // left: $sidebar-width
  // z-index: 102
  animation: sidebar-extension-open .2s cubic-bezier(.390, .575, .565, 1.000)
.sidebar-extension-close .sidebar-extension
  transform: translateX(-$sidebar-width + .25rem)
  animation: sidebar-extension-close .2s cubic-bezier(.390, .575, .565, 1.000)

.sidebar-extension-h
  @extend %c-h3
  padding-top: 0

.sidebar-extension-dismiss
  @extend %abs
  top: 1rem
  right: 1rem
  bottom: auto
  left: auto
  width: 2rem
  height: 2rem
  background-color: black

@keyframes sidebar-extension-open
  from
    transform: translateX(-$sidebar-width + .25rem)
    // left: 0
  to
    transform: translateX(0)
    // left: $sidebar-width

@keyframes sidebar-extension-close
  from
    transform: translateX(0)
    // left: $sidebar-width
  to
    transform: translateX(-$sidebar-width + .25rem)
    // left: 0
