<div class="share-bar">
    <ul class="share-bar-buttons">
        <li>
            <a href="#" class="share-bar-button icon-facebook">Share</a>
        </li>
        <li>
            <a href="#" class="share-bar-button icon-twitter">Tweet</a>
        </li>
        <li>
            <a href="#" class="share-bar-button icon-vkontakte">Поделиться</a>
        </li>
    </ul>

</div>
