<footer class="general-footer">
  <div class="l-col d2-3">
<!--     <ul class="inline-list">
      <li><a href="/site-about" class="nav-link">О компании</a></li>
      <li><a href="/site-news" class="nav-link">Новости</a></li>
      <li><a href="/site-press" class="nav-link">Пресс-центр</a></li>
      <li><a href="/site-licenses" class="nav-link">Лицензии</a></li>
      <li><a href="/site-buying" class="nav-link">Закупки</a></li>
      <li><a href="/site-vacancies" class="nav-link">Вакансии</a></li>
    </ul> -->
  </div><div class="l-col d1-3 social-set">
    <ul class="inline-list">
      <li><a href="http://instagram.com/altel4g" class="nav-link"><span class="icon-instagram"></span></a></li>
      <li><a href="https://twitter.com/ALTEL4G" class="nav-link"><span class="icon-twitter"></span></a></li>
      <li><a href="https://www.facebook.com/ALTEL4G" class="nav-link"><span class="icon-facebook"></span></a></li>
      <li><a href="https://vk.com/altel4g" class="nav-link"><span class="icon-vkontakte"></span></a></li>
    </ul>
  </div>
</footer>
