<header class="sidebar-header">
  <div class="lang-switcher">
    <a class="lang-switcher-a" href="#">Қаз</a>
    <a class="lang-switcher-a" href="#">Рус</a>
    <a class="lang-switcher-a" href="#" data-state="active">En</a>
  </div>
  <a href="/" class="logotype">
    <img class="logotype-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Logotype">
  </a>
</header>
<section class="sidebar-body">
  <div class="sidebar-nav c-text-c">
    <div class="l-fluffy-vertical">
      <a class="sidebar-nav-item--action" href="#">Корзина</a>
    </div>
  </div>

  <div class="sidebar-nav">
    <div class="l-col d1-2 l-gutter-right">
      <a class="btn btn--fill" href="#">Телефоны</a>
    </div><div class="l-col d1-2 l-gutter-left">
      <a class="btn btn--fill" href="#">Планшеты</a>
    </div>
    <div class="l-fluffy-vertical">
      <a class="btn btn--fill" href="#">Модемы</a>
    </div>
  </div>

  <hr>

  <ul class="sidebar-nav">
    <li>
      <a class="sidebar-nav-item sidebar-nav-item--action" href="#">Отзывы</a>
    </li>
    <li>
      <a class="sidebar-nav-item sidebar-nav-item--action" href="#">Оставить отзыв</a>
    </li>
  </ul>
</section>
<!-- <section class="sidebar-footer">
  <a class="sidebar-nav-user" href="#">
    <div class="sidebar-nav-user-pic">
      {{ "54x54" | placeholder:'ffff00','000000' | image_tag }}
    </div>
    <div class="sidebar-nav-user-info">
      Username
    </div>
  </a>
</section> -->
