{% block content %}
<div class="l-container">
    <div class="box">
        <div class="box-content">
            <div class="l-gutter">
                <div class="product-header">
                    <h1 class="product-title">
                        My account
                    </h1>
                    <p class="caption">Welcome, Kyle</p>
                </div>

                <div class="l-col d2-3">
                    <div class="f-field">
                        <div class="l-col d1-3">
                            <a href="/account-orders" class="box box--ratio">
                                <div class="box-background"></div>
                                <div class="box-content box-content--dark">
                                    <div class="cover-media">
                                        <div class="box-footer">
                                            My orders
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div><div class="l-col d1-3">
                            <a href="/account-address-book" class="box box--ratio">
                                <div class="box-background"></div>
                                <div class="box-content box-content--dark">
                                    <div class="cover-media">
                                        <div class="box-footer">
                                            Address book
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div><div class="l-col d1-3">
                            <a href="/account-details" class="box box--ratio">
                                <div class="box-background"></div>
                                <div class="box-content box-content--dark">
                                    <div class="cover-media">
                                        <div class="box-footer">
                                            Account details
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div><div class="l-col d1-3 l-gutter-l">
                    <div class="callout f-field">
                        <ul class="block-list c-caption">
                            <li>
                                <a href="/account">My account</a>
                            </li>
                            <li>
                                <a href="/account-orders">My orders</a>
                            </li>
                            <li>
                                <a href="/account-address-book">Address book</a>
                            </li>
                            <li>
                                <a href="/account-details">Account details</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
