{% block content %}
<div class="l-container">
    <div class="box">
        <div class="box-content">
            <div class="l-gutter">
                <div class="product-header">
                    <h1 class="product-title">
                        Account details
                    </h1>
                    <p class="caption">Need help? ...</p>
                </div>

                <div class="l-col d2-3">
                    <div class="f-field">

                        <h2 class="c-h3 c-h--compact">Change your email address</h2>

                        <div class="callout">
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">Currenet password</label>
                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="password" />
                                </div>
                            </div>
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">New email address</label>
                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="text" />
                                </div>
                            </div>
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">Confirm email address</label>
                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="text" />
                                </div>
                            </div>
                            <div class="callout-footer c-text-r">
                                <a href="#" class="btn btn--cta btn--compact">Save changes</a>
                            </div>
                        </div>

                        <h2 class="c-h3 c-h--compact">Change your password</h2>

                        <div class="callout">
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">Currenet password</label>
                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="password" />
                                </div>
                            </div>
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">New password</label>
                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="password" />
                                    <p class="caption">Your password mast be at least 6 symbols long</p>
                                </div>
                            </div>
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">Confirm new password</label>
                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="password" />
                                </div>
                            </div>
                            <div class="callout-footer c-text-r">
                                <a href="#" class="btn btn--cta btn--compact">Save changes</a>
                            </div>
                        </div>
                        <h2 class="c-h3 c-h--compact">Change your name</h2>
                        <div class="callout">
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">First name</label>

                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="text" />
                                    <p class="caption">(current: Kyle)</p>
                                </div>
                            </div>
                            <div class="f-field media">
                                <div class="media-figure media-figure--label">
                                    <label class="label" for="">Second name</label>

                                </div>
                                <div class="media-description">
                                    <input class="f-input-text" type="text" />
                                    <p class="caption">(current: Dunn)</p>
                                </div>
                            </div>
                            <div class="callout-footer c-text-r">
                                <a href="#" class="btn btn--cta btn--compact">Save changes</a>
                            </div>
                        </div>


                    </div>
                </div><div class="l-col d1-3 l-gutter-l">
                    <div class="callout f-field">
                        <ul class="block-list c-caption">
                            <li>
                                <a href="/account">My account</a>
                            </li>
                            <li>
                                <a href="/account-orders">My orders</a>
                            </li>
                            <li>
                                <a href="/account-address-book">Address book</a>
                            </li>
                            <li>
                                <a href="/account-details">Account details</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
