//
// Core - Settings centers on two things:
// 1) @font-face declarations
// 2) Variables
//

// BREAKPOINTS, up to some device width. http://screensiz.es/
// 320px, iPhone 4/5 max (mobile)
$break-1:       320
// +448, 768px, iPad 3/4 max (tablet)
$break-2:       768
// +512, 1280px, MBP-12 13-inch (desktop)
$break-3:       1280
// +320, 1600px, Dell Inspirion (large desktop)
$break-4:       1600

// SIZES
// Grid
$grid-cols: 12 !default

// half of desired line-height
$rootsizes: 8, 10, 12, 16

$caption:   12/8, 14/10, 16/12, 18/16
$body:      14/8, 18/10, 20/12, 22/16
$h3:        22/8, 24/10, 26/12, 28/16
$h2:        26/8, 28/10, 30/12, 32/16
$h1:        30/8, 32/10, 34/12, 36/16

// COLORS
// normal text
$primary-text: #56565c
$secondary-text: #a5acb0
$accent: #ed0088
// secondary text
// warning text
// error text
// ok text
// link
// link-hover
// link-active
// a number of backgrounds
$viewport-background: #f0f0f0
$sidebar-background: #fff
$box-background: #fff

// FONTS

// OTHER VARS
$image-path:            "/assets/img/" !default
$fallback-extension:    "png" !default
$retina-suffix:         "@2x"
$footer-height:         6rem
$sidebar-width:         14em
$sidebar-header-height: 5rem
$sidebar-footer-height: 4rem

// Credits:
// https://github.com/designbyjake/sassline
