//
// Core - Base sets any base-level styles for tags, such as p or blockquote, beyond what's included in the reset or normalize. Text styles set here reflect the most common appearance of that tag in the design.
//

*, *:before, *:after
  box-sizing: border-box

html,
body
  height: 100%
  overflow: hidden
  -webkit-overflow-scrolling: none

html
  // root 12
  font-size: nth($rootsizes, 1)/16*100%
  // everything bigger than $break-1; root 14
  @media only screen and (min-width: #{($break-1 + 1)/16*1em})
    font-size: nth($rootsizes, 2)/16*100%
  // everything bigger than $break-2; root 17
  @media only screen and (min-width: #{($break-2 + 1)/16*1em})
    font-size: nth($rootsizes, 3)/16*100%
  // everything bigger than $break-3; root 21
  @media only screen and (min-width: #{($break-3 + 1)/16*1em})
    font-size: nth($rootsizes, 4)/16*100%
  // everything bigger than $break-4; just fixes the size
  // @media only screen and (min-width: #{($break-4 + 1)/16*1em})


body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: nth($body, 1)*1rem
  line-height: 2rem
  color: $primary-text
  cursor: default
  @media only screen and (min-width: #{($break-1 + 1)/16*1em})
    font-size: nth($body, 2)*1rem
  @media only screen and (min-width: #{($break-2 + 1)/16*1em})
    font-size: nth($body, 3)*1rem
  @media only screen and (min-width: #{($break-3 + 1)/16*1em})
    font-size: nth($body, 4)*1rem

// a

p
  padding: 0
  margin: 0
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1

h1,h2,h3,h4,h5,h6
  padding: 0
  margin: 0
  font-style: normal
  letter-spacing: -.1rem
  font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1

ul,ol
  padding: 0
  margin: 0
  li
    margin-left: 2rem
    font-feature-settings: "kern" 1, "onum" 1, "liga" 1

b,strong,.bold
  font-weight: bold

em,i,.italic
  font-style: italic

// small,.caption
  // font-size: #{$caption}rem

// spacing for captions
// h1, .c-h1, h2, .c-h2, h3, .c-h3, img
//   + .caption
//     margin-top: 0

a
  color: inherit
  text-decoration: underline

blockquote
  margin: 0 0 2rem
  p
    padding-left: 2rem
    font-style: italic
    border-left: .5rem solid

hr
  margin: 1rem 0 1rem
  border: 0
  border-bottom: 1px solid

// code, pre
// TODO: Style code and pre tags

img
  display: inline-block
  height: auto
  max-width: 100%
  padding: 0
  margin: 0
  line-height: 0

figure
  margin: 0

// Credits:
// https://github.com/designbyjake/sassline
