//
// Core - Content and Core - Layout are the bridge between base-level tags and modules. They give you the ability to set up abstractions that make contextual tweaks easier.
//
// The difference between Core - Content and Core - Layout is that Core - Content applies mainly to typography (fonts, colors), while Core - Layout applies to just that, layout (margin, padding, sizing, positioning).
//
// Note: The c- prefix is an implicit module. There is no c base module; it's only used as a prefix for the content modules.
//

h1,.c-h1,%c-h1
  @include fs-construct($h1, 4, 2)

h2,.c-h2,%c-h2
  @include fs-construct($h2, 4, 2)

h3,.c-h3,%c-h3
  @include fs-construct($h3, 3, 2)

h4,h5,h6,p,%c-body,.c-body,ul,ol
  @include fs-construct($body, 2, 2)

caption, %c-caption,.c-caption
  @include fs-construct($caption, 2, 2)

h1,.c-h1,%c-h1,h2,.c-h2,%c-h2,img
  p,ol,ul,blockquote p,pre
    margin-top: 2rem

%c-upper,.c-upper
  text-transform: uppercase
  letter-spacing: 0.1rem

.c-small-caps
  letter-spacing: 0.1rem
  // font-feature-settings: "smcp" 1, "kern" 1

.c-text-c
  text-align: center

.c-text-l
  text-align: left

.c-text-r
  text-align: right

// Credits:
// https://github.com/designbyjake/sassline
